.mainAll-tabBarDiv-orderList {
  display:grid;
  grid-template-columns: 10% 10% 10%;
  gap: 35% 33%;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  color: white;
  outline-color: white;
}

body {
  background-color: black;
}

.mainAll-content1 {
  color:white;
}

.overManinAll {
  margin-top: -8px;
  background-color: black;
  color: white;
}

.mainAll-tabBarDiv-orderList-tab1 {
  margin-top: 4%;
  height: 75%;
  background-color: white;
  color: black;
  border-color: white;
  border-width: 10px;
}

.mainAll-tabBarDiv-orderList-tab2 {
  margin-top: 4%;
  height: 75%;
  background-color: white;
  color: black;
  border-color: white;
  border-width: 10px;
}

.mainAll-tabBarDiv-orderList-tab3 {
  margin-top: 4%;;
  height: 75%;
  background-color: white;
  color: black;
  border-color: white;
  border-width: 10px;
}

.mainAll-overAllContent-content2-meIMG {
  width: 10%;
  height: 10%;
  border-radius: 80%;
}

.mainAll-overAllContent-content2-divNAE {
  position: absolute;
  top: 13%;
  left: 11%;
  display: grid;
  grid-template-columns: 50% 50%;
}